body {
  margin: 0;
  padding: 0;
  width: 1600px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.section-header {
  width: 1600px;
  height: 1510px;
  margin-bottom: 160px;
  position: relative;
  top: -20px;
  left: 0;
}
.header_container {
  background-color: #56ccf2;
  width: 1029px;
  height: 848px;
  position: relative;
}
.header_container-logo {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  color: #ffffff;
  width: 53px;
  z-index: 10;
}

.header_container-btn {
  width: 226px;
  height: 56px;
  background: #ffffff;
  border: none;
  outline: none;
  border-radius: 64px;
  color: #253757;
  text-align: center;
  letter-spacing: 1px;
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  position: absolute;
  left: 325px;
  top: 392px;
  cursor: pointer;
}
.header_container-nav-link:nth-child(5n) {
  margin-left: 46px;
}

.header_container-title {
  font-family: Muli;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 150%;
  color: #ffffff;
  position: absolute;
  width: 754px;
  height: 96px;
  left: 325px;
  top: 160px;

  z-index: 10;
}
.header_container-text {
  width: 754px;
  height: 72px;
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
  position: absolute;
  left: 325px;
  top: 278px;
  z-index: 10;
}

.header {
  margin-top: 48px;
  margin-left: 227px;
  width: 943px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 20;
}
.header_container-nav {
  display: flex;
  width: 558px;
  height: 36px;
  align-items: center;
  justify-content: space-between;
}

.header_container-nav-link {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  z-index: 10;
}
.header_container-nav-link:hover {
  border-bottom: 2px solid #fcc304;
}
.header_container-linkOffer {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  width: 54px;
}

.header_container_background-first {
  position: absolute;
  width: 1128px;
  height: 298.23px;
  left: 356.23px;
  top: 170.32px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #56ccf2;
  opacity: 0.5;
  border-radius: 500px;
  transform: rotate(-65deg);
  z-index: 4;
}
.header_container_background-second {
  position: absolute;
  width: 1128px;
  height: 298.23px;
  left: 684.22px;
  top: 170.65px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #56ccf2;
  opacity: 0.5;
  border-radius: 500px;
  transform: rotate(-65deg);
  z-index: 5;
}
.header_container_background-third {
  position: absolute;
  width: 956.92px;
  height: 53.02px;
  left: 1019.53px;
  top: 170.92px;

  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #56ccf2;
  border-radius: 500px;
  transform: rotate(-65deg);
  z-index: 6;
}

.header_container_image {
  position: absolute;
  width: 1146px;
  height: 640px;
  left: 227px;
  top: 528.01px;

  background: linear-gradient(
      0deg,
      rgba(37, 55, 87, 0.1),
      rgba(37, 55, 87, 0.1)
    ),
    url(./img/rawpixel-com-384904.jpg);
  background-blend-mode: multiply, normal;
  z-index: 10;
}

.header_cotainer_rectangle {
  position: absolute;
  width: 162.46px;
  height: 64px;
  left: 145.77px;
  top: 815.23px;

  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #fcc304;
  border-radius: 50px;
  z-index: 20;
}
.header_cotainer_rectangle-1 {
  position: absolute;
  width: 12px;
  height: 24px;
  left: 274.23px;
  top: 835px;

  /* border: 2px solid #ffffff; */
  transform: rotate(180deg);
  z-index: 30;
}
.header_cotainer_rectangle-2 {
  position: absolute;
  width: 12px;
  height: 24px;
  left: 179.23px;
  top: 835px;

  /* border: 2px solid #ffffff; */
  /* transform: matrix(0, 1, 1, 0, 0, 0); */
  z-index: 30;
}
.header_container_image-title {
  position: absolute;
  width: 49px;
  height: 19px;
  left: 325px;
  top: 1005px;
  font-family: Muli;
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2;
  z-index: 30;
}

.header_container_image-text {
  position: absolute;
  width: 264px;
  height: 54px;
  left: 325px;
  top: 1028px;
  font-family: Muli;
  font-style: normal;
  font-weight: 900;
  font-size: 19.6px;
  line-height: 140%;
  color: #ffffff;
  z-index: 30;
}

.header_container-list {
  color: black;
}
.header_container-list-item a {
  color: #253757;
}
.header_container-list-item:first-child {
  position: absolute;
  width: 84px;
  height: 19px;
  left: 1456px;
  top: 640px;
  font-family: Muli;
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #253757;

  transform: rotate(90deg);
}
.header_container-list-item:nth-child(2n) {
  position: absolute;
  width: 71px;
  height: 19px;
  left: 1456px;
  top: 809px;

  /* Text/TitleSmall */

  font-family: Muli;
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 150%;
  /* identical to box height, or 19px */

  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  /* Text/100 */

  color: #253757;
  transform: rotate(90deg);
}

.header_container-list-item:last-child {
  position: absolute;
  width: 92px;
  height: 19px;
  left: 1446px;
  top: 964px;

  /* Text/TitleSmall */

  font-family: Muli;
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 150%;
  /* identical to box height, or 19px */

  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #253757;

  transform: rotate(90deg);
}

.section-intro {
  width: 100%;
  margin: 0 auto;
}
.header_container-title-second {
  position: absolute;
  width: 95px;
  height: 24px;
  left: 460px;
  top: 1333px;
  font-family: Muli;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2;
}
.header_container-text-second {
  position: absolute;
  width: 742px;
  height: 144px;
  left: 423px;
  top: 1376px;
  font-family: Muli;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #253757;
}

.header_container-vector-image {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 423px;
  top: 1334px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.25) 28.57%,
    rgba(255, 255, 255, 0) 42.86%
  );
  /* Main */

  box-sizing: border-box;
}

.section-services {
  width: 1600px;
  height: 704px;
  position: relative;
}

.section-services-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 160px;
}
.section-services-title {
  position: absolute;
  width: 561px;
  height: 48px;
  left: 520px;
  top: -24px;
  font-family: Muli;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: #253757;
}

.section-sectives-list {
  width: 1049px;
  height: 310px;
  display: flex;
  margin-bottom: 162px;
}
.section-sectives-item {
  width: 264px;
  margin-right: 128px;
}
.section-sectives-item-text {
  font-family: Muli;
  font-style: normal;
  font-weight: 900;
  font-size: 19.6px;
  line-height: 140%;
  color: #253757;
}
.section-sectives-item-discript {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #334563;
  mix-blend-mode: normal;
}

.section-step {
  width: 1600px;
  height: 816px;
}
.section-step-container {
  position: relative;
  padding-top: 160px;
}
.section-step-img-title {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 227px;
  top: 161px;
}

.section-step-name {
  font-family: Muli;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2;
  margin-left: 264px;
}
.section-step-title {
  margin-left: 227px;
  font-family: Muli;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
  color: #253757;
  width: 362px;
  height: 90px;
}
.section-step-text {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #334563;
  mix-blend-mode: normal;
  margin-left: 227px;
  width: 362px;
  height: 168px;
}

.section-step-horizont-line {
  left: 692.66px;
  top: 486.83px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #56ccf2;
}
.section-step-horizont-line-2 {
  left: 994.88px;
  top: 377.93px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #fcc304;
}

.section-step-horizont-line-3 {
  left: 686.66px;
  top: 868.83px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #03d542;
  transform: rotate(-65deg);
}

.section-step-horizont-line-4 {
  left: 994.88px;
  top: 765.91px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #f25656;
}

.horizont-vertical-line {
  width: 422.34px;
  height: 16px;
  border-radius: 500px;
  transform: rotate(-65deg);
  position: absolute;
  z-index: 20;
}

.item-block-step-section {
  position: absolute;
  width: 240px;
  height: 256px;
  background: #ffffff;
  box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}

.section-step-item-1 {
  left: 776px;
  top: 336px;
}
.section-step-item-2 {
  left: 1074px;
  top: 224.55px;
}
.section-step-item-3 {
  left: 776px;
  top: 720px;
}
.section-step-item-4 {
  left: 1074px;
  top: 608.55px;
}
.section-step-item-circle {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 96px;
  top: 48px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(0deg, #56ccf2, #56ccf2), #c4c4c4;
  opacity: 0.1;
  border-radius: 50%;
}
.section-step-item-number {
  width: 24px;
  height: 60px;
  font-family: Muli;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2;
}
.section-step-item-text {
  width: 176px;
  height: 80px;
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 12.6px;
  line-height: 150%;
  text-align: center;
  color: #253757;
  mix-blend-mode: normal;
}

.section-features {
  width: 1600px;
  height: 976px;
  background: #56ccf2;
}

.section-features-container {
  position: relative;
  padding-top: 198px;
  width: 1600px;
}

.section-features-img-title {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 227px;
  top: 199px;
}

.section-features-name {
  font-family: Muli;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  width: 97px;
  height: 24px;
  margin-left: 264px;
}

.section-features-title {
  font-family: Muli;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
  color: #253757;
  width: 362px;
  height: 90px;
  margin-left: 227px;
}

.section-features-photo {
  position: absolute;
  left: 460px;
  top: 0;
}

.section-features-list_item {
  width: 263px;
  height: 96px;
  margin-left: 325px;
  margin-bottom: 64px;
  position: relative;
}

.section-features-list_item-text {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.section-features-list_item_image {
  width: 64px;
  height: 64px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: -96px;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-features_decorativeBlock {
  position: absolute;
  right: 0;
  z-index: 20;
  top: -50px;
}

.section-clients {
  width: 1600px;
  height: 688px;
  background: #ffffff;
}
.section-clients-container {
  padding-top: 165px;
  position: relative;
  padding-left: 264px;
}

.section-clients-name {
  font-family: Muli;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2;
}

.section-clients-image {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 227px;
  top: 166px;
}

.section-clients-title {
  width: 362px;
  height: 90px;
  font-family: Muli;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
  color: #253757;
}
.section-clients-container > ul {
  display: flex;
}
.section-clients-list-item {
  background: #fefefe;
  box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
  width: 314px;
  margin-left: 16px;
  margin-right: 62px;
  z-index: 40;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 240px;
}
.section-clients-list-item_block {
  position: absolute;
  width: 161.9px;
  height: 64px;
  left: 25%;
  top: 23%;

  border-radius: 500px;
  transform: rotate(-65deg);
  z-index: 2;
}

.selection-cliensts-list-item_photo {
  width: 110px;
  z-index: 2;
  position: absolute;
  left: 34%;
  top: 24%;
}
.section-clients-list-item-text {
  width: 250px;
  height: 64px;
  font-family: Muli;
  font-style: italic;
  font-weight: normal;
  font-size: 14.4px;
  line-height: 150%;
  text-align: center;
  color: #253757;
  mix-blend-mode: normal;
  margin-bottom: 64px;
}

.section-clients-list-item-name {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 12.6px;
  line-height: 150%;
  text-align: center;
  color: #152032;
  position: relative;
}

.section-clients-list-item-role {
  font-family: Muli;
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 58px;
}

.section-clients-list-item-name::after {
  contain: "";
  position: absolute;
  width: 64px;
  height: 2px;
  top: -31px;
  left: 50%;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #56ccf2;
}

.section-cta {
  width: 1600px;
  height: 608px;
  margin-bottom: 96px;
}
.section-cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 160px;
}

.section-cta-title {
  font-family: Muli;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: #253757;
}

.section-cta-text {
  width: 754px;
  height: 72px;
  font-family: Muli;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #334563;
}

.section-cta-btn {
  border: none;
  outline: none;
  cursor: pointer;
  width: 226px;
  height: 56px;
  background: #2f80ed;
  border-radius: 64px;
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;

  color: #ffffff;
}

.bgposition {
  position: absolute;
}
.bg-position1 {
  left: 82.16px;
  top: 419.21px;
}
.bg-position2 {
  left: 131.42px;
  top: 591.29px;
}
.bg-position3 {
  left: 233px;
  top: 137.65px;
}
.bg-position4 {
  left: 269px;
  top: 400.74px;
}
.bg-position5 {
  left: 446px;
  top: 106.07px;
}
.bg-position6 {
  left: 481px;
  top: 494.07px;
}
.bg-position7 {
  left: 1012px;
  top: 543.07px;
}
.bg-position8 {
  left: 1218.98px;
  top: 450.81px;
}
.bg-position9 {
  left: 1272.91px;
  top: 248.7px;
}
.bg-position10 {
  left: 1336.69px;
  top: 540.49px;
}

.footer-section {
  display: flex;
  width: 1146px;
  height: 668px;
  margin-left: 227px;
  margin-bottom: 83px;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  width: 1146px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  width: 656px;
  margin-right: 128px;
  margin-bottom: 136px;
}

.footer-form-title {
  margin-left: 37px;
  font-family: Muli;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2;
  margin-bottom: 104px;
}

.footer-form-lable {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 14.4px;
  line-height: 150%;
  color: #152032;
}

.footer-form-btn {
  border: none;
  outline: none;
  cursor: pointer;
  width: 226px;
  height: 56px;
  background: #2f80ed;
  border-radius: 64px;
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
}

.footer-form-image {
  width: 21px;
  position: absolute;
}

.footer-form-input {
  margin-bottom: 48px;
  border: none;
  border-bottom: 1px solid black;
  width: 656px;
}

.footer-form-input:last-of-type {
  margin-bottom: 121px;
}
.footer-contact-name {
  font-family: Muli;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2;
  margin-bottom: 19px;
  margin-left: 37px;
}
.footer-contact-title {
  font-family: Muli;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2;
  width: 362px;
  margin-bottom: 43px;
}

.footer-contact-info {
  font-family: Muli;
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #334563;
}

.footer-contact-call {
  width: 257px;
  font-family: Muli;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2;
  display: flex;
  margin-bottom: 41px;
}

.footer-contact-link {
  display: flex;
}
.footer-contact-link a {
  width: 32px;
  height: 32px;
  margin-right: 48px;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  width: 1145px;
}

.footer-nav-link {
  display: flex;
  justify-content: space-between;
  width: 558px;
}
.footer-nav-about {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #253757;
}
.footer-nav-link a {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #253757;
}
